* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/background.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100vw;
    min-height: 100vh;
}

.ant-pagination *, .ant-pagination .ant-pagination-item a  {
    color: #1677ff;
}

.ant-pagination .ant-pagination-item-active {
    background-color: transparent;
}
.ant-modal-body {
    text-align: center;
}